body{
	background-color: gray;
}
.imgSize{
	max-width: 283px;
}
.imgPos {
	margin: 0 40px;
}
.h1Align, .captionAlign, .footerAlign{
	text-align: center;
}
.footer{
	font-size:10px;
}
.btn-outline-success{
	color: black;
	background-color: white;
	border-color: white
}

.logo{
	border-radius: 20px;
}
.container{
	background-color: white;
}
.rounded{
	border-radius: 20px;
}
.katasteps{
	font-size: initial;
}
.linkStyle > a:link {
	text-decoration: underline;
}
